@font-face {
    font-family: "Consolas";
    src: url("/Consolas-Regular.ttf") format("truetype");
}

.code {
    background-color: var(--dark-blue);
    width: 480px;
    height: 250px;

    border-radius: 10px;
}

.code-nav {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 0px 10px;

    border-bottom: var(--blue) 1px solid;
    align-items: center;
}

.code-options {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}

.code-options .code-inactive {
    color: var(--not-highlighted);
}

.code-option {
    background-color: rgba(0,0,0,0);
    border: 0;

    font-weight: 700;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    font-size: 9pt;
    margin-right: 10px;

    transition: 0.2s;
}

.code-option:hover {
    cursor: pointer;
}

.code-option img {
    height: 18px;
}

.code-text {
    height: calc(100% - 30px);
    display: flex;
    gap: 10px;
}

.actual-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96%;
    white-space: pre-wrap;
    tab-size: 4;
    margin-left: 30px;
    margin-top: 5px;
}

.actual-code p {
    margin-bottom: 7px;
    color: var(--white);
    font-size: 18pt;
    font-family: 'Consolas';
    line-height: 1.05;
}

.red-code {
    color: #EF5252;
    font-family: 'Consolas';
    font-size: 18pt;
}

.green-code {
    color: #28D32D;
    font-family: 'Consolas';
    font-size: 18pt;
}

.orange-code {
    color: #FF9E2F;
    font-family: 'Consolas';
    font-size: 18pt;
}

.yellow-code {
    color: #FFD60A;
    font-family: 'Consolas';
    font-size: 18pt;
}

.cyan-code {
    color: #31F8FF;
    font-family: 'Consolas';
    font-size: 18pt;
}

.white-code {
    color: var(--white);
    font-family: 'Consolas';
    font-size: 18pt;
}

@media (max-width: 550px) {
    .code {
        width: 430px;
    }
}

@media (max-width: 475px) {
    .rside-hero {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .code {
        width: 90%;
    }

    .actual-code p {
        font-size: 16pt;
    }

    .actual-code p, .red-code, .green-code, .orange-code, .yellow-code, .cyan-code, .white-code {
        font-size: 16pt;
    }
}

@media (max-width: 450px) {
    .actual-code p, .red-code, .green-code, .orange-code, .yellow-code, .cyan-code, .white-code {
        font-size: 14pt;
    }
}

@media (max-width: 410px) {
    .actual-code {
        margin-left: 15px;
        height: 80%;
    }

    .code-text {
        align-items: center;
    }

    .code {
        height: 220px;
    }
}

@media (max-width: 370px) {
    .actual-code p, .red-code, .green-code, .orange-code, .yellow-code, .cyan-code, .white-code {
        font-size: 13pt;
    }
}

@media (max-width: 350px) {
    .actual-code p, .red-code, .green-code, .orange-code, .yellow-code, .cyan-code, .white-code {
        font-size: 12pt;
    }

    .code {
        height: 190px;
    }
}