.project {
    background-color: var(--dark-blue);
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 355px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
}

.project h2 {
    font-size: 24pt;
}

.project h2 a {
    color: var(--yellow);
    text-decoration: none;
    transition: 0.2s;
}

.project h2 a:hover {
    color: var(--dark-yellow);
}

.project-type {
    color: var(--dark-yellow);
    margin-bottom: 10px;
}

.project-desc {
    color: var(--white);
    margin-bottom: 15px;
}

.bottom-row {
    display: flex;
    color: var(--not-highlighted);
    justify-content: space-between;
    margin: 5px 0px;
    align-items: center;
    margin-top: auto;
}

.technologies {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12pt;
}

.tech {
    background-color: var(--blue);
    border-radius: 3px;
    text-align: center;
    color: white;
    padding: 3px 7px;
}

.github-icon {
    height: 25px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-row img {
    height: 20px;
}

@media (max-width: 1285px) {
    .project {
        width: 40%;
        max-width: 100%;
    }
}

@media (max-width: 1030px) {
    .project {
        width: 100%;
    }

    .project-desc {
        width: 70%;
    }
}

@media (max-width: 630px) {
    .project-desc {
        width: 80%;
    }
}

@media (max-width: 470px) {
    .project {
        min-height: 190px;
    }
    
    .project h2 {
        font-size: 22pt;
    }

    .project-desc {
        width: 95%;
    }
}

@media (max-width: 425px) {


    .project {
        padding: 5px 10px;
    }
}

@media (max-width: 400px) {

}