.reference {
    display: flex;
    align-items: center;
    height: 250px;
    gap: 100px;
}

.lside-reference {
    width: 400px;
}

.name-image-pair {
    display: flex;
    align-items: center;
    gap: 15px;
}

.name-image-pair a {
    color: var(--yellow);
    text-decoration: none;
    font-weight: 600;
    font-size: 20pt;
}

.name-image-pair img {
    height: 25px;
    border-radius: 50px;
}

.lside-reference p {
    max-width: 85%;
}

.job-title {
    color: var(--dark-yellow);
    font-size: 12pt;
}

.rside-reference {
    width: 40%;
}

.reference-desc {
    color: var(--white);
    font-style: italic;
    font-size: 16pt;
}

.extra-margin-reference {
    margin-bottom: 50px;
}

@media (max-width: 1025px) {
    .reference {
        gap: 50px;
    }

    .reference-desc {
        font-size: 14pt;
    }
}

@media (max-width: 820px) {
    .reference {
        justify-content: space-between;
        gap: 0px;
    }

    .lside-reference {
        width: 325px;
    }

    .rside-reference {
        width: 50%;
    }
}

@media (max-width: 650px) {
    .reference {
        flex-direction: column;
        justify-content: start;
        gap: 25px;
        margin-top: 50px;
    }

    .lside-reference {
        text-align: left;
        width: 100%;
    }

    .rside-reference {
        width: 100%;
    }

    .name-image-pair {
        justify-content: left;
        width: 100%;
    }
}

@media (max-width: 430px) {
    .reference {
        margin-bottom: 25px;
    }
}