#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90dvh;
    gap: 50px;
    width: 100%;
}

.lside-hero p {
    color: var(--dark-yellow);
}

.lside-hero h1, .lside-hero h2 {
    color: var(--yellow);
    line-height: 1;
}

.lside-hero h1 {
    font-size: 52pt;
}

.lside-hero h2 {
    font-size: 28pt;
}

.lside-hero p {
    font-size: 18pt;
}

@media (max-width: 1000px) {
    #hero {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .lside-hero {
        text-align: center;
    }
}

@media (max-width: 410px) {
    #hero h1 {
        font-size: 48pt;
    }
}

@media (max-width: 375px) {
    #hero h1 {
        font-size: 44pt;
    }
}

@media (max-width: 345px) {
    #hero h1 {
        font-size: 40pt;
    }
}