#other {
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#other h1 {
    color: var(--yellow);
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: 32pt;
}

#other h2 {
    color: var(--dark-yellow);
    font-size: 24pt;
}

.other-data {
    display: flex;
    gap: 200px;
    justify-content: space-between;
    width: 70%;
    align-self: center;
    margin-bottom: 250px;
}

.cv a {
    font-style: italic;
    color: white;
    text-decoration: none;
}

.contact {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

.contact img {
    max-height: 40px;
    max-width: 40px;
    border-radius: 5px;
}

.contact a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14pt;
}

.rside-other {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cv p {
    font-size: 14pt;
}

.education b {
    font-size: 14pt;
}