#references {
    width: 80%;
    margin-top: 50px;
}

#references h1 {
    color: var(--yellow);
    font-size: 32pt;
    margin-bottom: 30px;
}

@media (max-width: 625px) {
    #references {
        width: 90%;
        margin-bottom: 50px;
    }

    #references h1 {
        text-align: center;
    }
}