:root {
    --dark: #000814;
    --dark-blue: #001D3D;
    --blue: #003566;
    --dark-yellow: #FFC300;
    --yellow: #FFD60A;
    --not-highlighted: #3B5D83;
    --white: #FFFFFF;
}

* {
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--dark);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}