.hero {
    background-color: #ffde59;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #2e2e2e;

    display: flex;
    align-items: center;
}

.left {
    width: 25%;
    text-align: right;
    font-size: 22pt;
}

.center {
    width: 45%;
    text-align: center;
    padding-bottom: 25px;
}

.center h1 {
    font-size: 70pt;
    margin-bottom: 70px;
}

.center h2 {
    font-size: 32pt;
}

.right {
    width: 30%;
}

.right img {
    max-width: 75%;
}