.lang {
    background-color: var(--lightgrey);
    border: 1px solid var(--darkgrey);

    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-icon {
    max-width: 50%;
    max-height: 50%;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}