#languages {
    height: 750px;
    margin-top: 100px;
    width: calc(100vw - var(--scrollbar-width, 0px));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.technologies-title {
    color: var(--yellow);
    margin-bottom: 75px;
}

.languages {
    display: grid;
    width: 1200px;
    height: 600px;

    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.csharp {
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform 0.7s ease;
    transform: translate(0, 0) scale(1);
}

.csharp:hover {
    z-index: 1;
    transform: translate(50%, 50%) scale(2);
}

.csharp:not(:hover) {
    animation: resetZIndex 0.7s forwards;
}

.python {
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform 0.7s ease;
    transform: translate(0, 0) scale(1);
}

.python:hover {
    z-index: 1;
    transform: translate(-50%, 50%) scale(2);
}

.python:not(:hover) {
    animation: resetZIndex 0.7s forwards;
}

.javascript {
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform 0.7s ease;
    transform: translate(0, 0) scale(1);
}

.javascript:hover {
    z-index: 1;
    transform: translate(-50%, -50%) scale(2);
}

.javascript:not(:hover) {
    animation: resetZIndex 0.7s forwards;
}

.html {
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform 0.7s ease;
    transform: translate(0, 0) scale(1);
}

.html:hover {
    z-index: 1;
    transform: translate(50%, -50%) scale(2);
}

.html:not(:hover) {
    animation: resetZIndex 0.7s forwards;
}

@keyframes resetZIndex {
    0% { z-index: 1; }
    99% { z-index: 1; }
    100%  { z-index: 0; }
}